header {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}

.header-left {
  width: 3.75rem;
}

.header-left img {
  width: 3.75rem;
}

.main-menu {
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
}

.main-menu-item {
  font-size: large;
}
