.account-container {
  width: 100%;
  display: flex;
  gap: 5rem;
}

.account-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.account-section-header {
  display: flex;
  align-items: baseline;
  gap: 1rem;
}

.account-info {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.account-info-row {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.account-name {
  text-transform: capitalize;
}

.account-info-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.account-password-input {
  background: transparent;
  border: 0;
  border-bottom: 1px solid #000;
  font-family: inherit;
}

.account-password-options {
  display: flex;
  gap: 0.5rem;
}

.account-avatar-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.account-avatar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  transition: transform 0.3s ease;
}

.account-avatar-container:hover {
  transform: scale(1.15);
}

.account-avatar-name {
  text-transform: uppercase;
}

.account-new-profile {
  width: 100px;
  height: 131px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.account-new-profile-icon {
  font-size: 26pt;
}

@media screen and (orientation: portrait) {
  .account-container {
    flex-direction: column;
    gap: 4rem;
  }
}
