.account-avatar {
  width: 100px;
  height: 131px;
  background-image: url(../../assets/avatars/avatar-spritesheet--25.png);
  background-repeat: no-repeat;
  border-radius: 50%;
}

.account-avatar-1 {
  background-position: 0 0;
}

.account-avatar-10 {
  background-position: -100px 0;
}

.account-avatar-11 {
  background-position: -200px 0;
}

.account-avatar-12 {
  background-position: -300px 0;
}

.account-avatar-13 {
  background-position: 0 -131px;
}

.account-avatar-14 {
  background-position: -100px -131px;
}

.account-avatar-15 {
  background-position: -200px -131px;
}

.account-avatar-16 {
  background-position: -300px -131px;
}

.account-avatar-2 {
  background-position: 0 -262px;
}

.account-avatar-3 {
  background-position: -100px -262px;
}

.account-avatar-4 {
  background-position: -200px -262px;
}

.account-avatar-5 {
  background-position: -300px -262px;
}

.account-avatar-6 {
  background-position: -400px 0;
}

.account-avatar-7 {
  background-position: -400px -131px;
}

.account-avatar-8 {
  background-position: -400px -262px;
}

.account-avatar-9 {
  background-position: 0 -393px;
}
